<div class="header">
  <h3 class="header-title">Add Film Details</h3>
</div>

<div class="container container--margin">

      <form
        #form2="ngForm"
        class="form"
        (ngSubmit)="onSubmit(form2.value)"
        novalidate
        autocomplete="off"
      >
        <div class="form__input">
       
                <label class="form__input-label" for="movie"> Movie Name </label>
                <input
                  type="text"
                  #name="ngModel"
                  ngModel
                  name="name"
                  required
                  class="form__input-field"
                  id="movie"
                  placeholder="Name"
                />
                <small
                  class="text-danger"
                  [class.d-none]="name.valid || name.untouched"
                  >Movie Name is required</small
                >
           
          
        </div>

        <div class="form__input">
                <label class="form__input-label" for="boxOfficeCollection">
                  Box Office Collection
                </label>
                <input
                  type="number"
                  #boxOfficeCollection="ngModel"
                  required
                  ngModel
                  name="BoxOfficeCollection"
                  class="form__input-field"
                  id="boxOfficeCollection"
                  placeholder="boxOfficeCollection"
                />
                <small class="text-danger" [class.d-none]='boxOfficeCollection.valid || boxOfficeCollection.untouched'>BoxOfficeCollection is
                                        required</small>
                <!-- <small class="text-danger" *ngIf='token==1'>user already exists</small> -->
              </div>
         
        <div class="form__input">
         
                <label class="form__input-label" for="rating">Rating</label>
                <input
                  type="number"
                  #rating="ngModel"
                  name="ratings"
                  ngModel
                  class="form__input-field"
                  required
                  id="rating"
                  placeholder="Rating"
                />
                <small class="text-danger" [class.d-none]="rating.valid || rating.untouched">Rating is required</small>
              </div>
 
        <div class="form__input">
         
                <label class="form__input-label" for="director">Director Name</label>
                <input
                  type="text"
                  #director="ngModel"
                  name="director"
                  ngModel
                  [class.is-invalid]="director.invalid && director.touched"
                  required
                  class="form__input-field"
                  id="director"
                  placeholder="Director name"
                />
                <small class="text-danger" [class.d-none]="director.valid || director.untouched">Director is required</small>

          
        </div>
        <br />
        <div class="form--center">
          <button class="form__btn" type="submit" id="add-btn">Add Film</button>
          <h6 class="form__home">Go back to <a routerLink="/home">Home</a></h6>
        </div>
       </form>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <span class="close" (click)="closeIt()">&times;</span> -->
            </div>
            <div class="modal-body">
              <p>Your data uploaded successfully !!</p>
            </div>
          </div>
        </div>
</div>