<div class="header">
  <h3 class="header-title">Delete Movie By It's Name</h3>
</div>

<div class="container container--margin">

        <form class="del-form"  #form2="ngForm"  (ngSubmit)="deleteMovie(form2.value)"
        novalidate
        autocomplete="off">
          <div class="del-form__input">
            <label class="del-form__label" for="movie"> Movie Name </label>
            <input
              type="text"
              #name="ngModel"
              ngModel
              name="name"
              required
              class="form-control"
              id="movie"
              placeholder="Name"
            />
            <small
              class="text-danger"
              [class.d-none]="name.valid || name.untouched"
              >Movie Name is required</small
            >
       
          </div>
          <div class="del-form--center">
            <button class="del-form__btn">Delete movie</button> 
            <h6 class="del-form__home">Go back to <a routerLink="/home">Home</a></h6>
          </div>
        </form>

          <div id="myModal" class="modal">
            <div class="modal-content">
              <div class="modal-header">
                <span class="modal-close" (click)="closeIt()">&times;</span>
              </div>
              <div class="modal-body">
                <p>Your data uploaded successfully !!</p>
              </div>
            </div>
          </div>
       
  
</div>
