
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav__header">
    <div  routerLink ='/home' routerLinkActive="nav__link--active"  class="nav__title">
      CinemaWall
    </div>
  </div>
  <div class="nav__btn">
    <label for="nav-check">
      <span class="nav__line">.</span>
      <span class="nav__line">.</span>
      <span class="nav__line">.</span>
    </label>
  </div>
  
  <div class="nav__links">
    <div class="nav__link"><a routerLink ='/film' routerLinkActive="nav__link--active">Add Cinema</a></div>
    <div class="nav__link" ><a routerLinkActive="nav__link--active"  routerLink ='/director' >Add Director</a></div>
    <div  class="nav__link"><a routerLinkActive="nav__link--active" routerLink ='/update' >Update</a></div>
    <div class="nav__link"><a routerLinkActive="nav__link--active"routerLink ='/search' >Search</a></div>
  </div>
</div>
<router-outlet></router-outlet> 
