.header {
  padding: 1%;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 1%;
  color: white;
}

.container {
  margin: auto;
  width: 50%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5%;
}

.container--margin {
  margin-top: 1%;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}

.form {
  padding: 3%;
  color: white;
}

.form-input {
  width: 100%;
  margin: 1%;
}
.form__input-label {
  color: white;
  /* margin: 1%; */
  font-size: large;
}

.form-control {
  width: 100%;
  background: none;
  border: 1px solid white;
  color: white;
  font-size: medium;
  border-radius: 5px;
  padding: 7px;
  padding-left: 12px;
}

.form--center {
  text-align: center;
}

.form__btn {
  color: white;
  background-color:transparent;
  height: 40px;
  width: 130px;
  border-radius: 5px;
  outline: 0;
  border-color: white;
  
}

.form__btn:hover {
  background-color: white;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form__home{
  margin-top: 3%;
}
/* #myinput{
    width: 70%;
    justify-content: center;
    justify-items: center;
    border-radius: 25px;
    padding: 10px;
    margin: 14px;
    margin-left: 160px;
    padding-left: 50px;
    border: none;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  } */
